.genre-rails {
    margin-top: 2rem;
    padding: 1rem;
    max-width: 100%;
    overflow-y: auto;
}

.genre-section {
    margin-bottom: 6rem;
}

.genre-item {
    margin-bottom: 1rem;
}

.genre {
    background-color: #333;
    color: white;
    border: 1px solid #555;
    border-radius: 5px;
    padding: 1rem 2rem;
    cursor: pointer;
    text-align: center;
    font-size: 1.5rem; 
    width: 100%; 
}

.genre:hover {
    background-color: #555;
    border-color: white;
}

.genre:focus {
    outline: none; 
}

.genre.selected {
    background-color: #b7eb3ee2; 
    font-weight: bold;
    color: black;
}

.genres-not-loaded {
    color: #f5f5f5;
    font-size: 2rem;
    margin-top: 1rem;
    text-align: center;
}

@media (max-width: 768px) {
    .genre {
        font-size: 1.2rem; 
    }

    .genres-not-loaded {
        font-size: 1.5rem; 
    }
}

@media (min-width: 2560px) {
    .genre {
        font-size: 3.5rem; 
    }

    .genres-not-loaded {
        font-size: 3.5rem; 
    }
}

@media (min-width: 7680px) {
    .genre {
        font-size: 8rem; 
    }

    .genres-not-loaded {
        font-size: 6rem; 
    }
}