.movie-list {
    display: flex;
    flex-wrap: nowrap; 
    overflow-x: auto;
    padding: 10px;
    gap: 10px;
}

.movie-list::-webkit-scrollbar {
    display: none;
}

.movie-item {
    min-width: 150px;
    background-color: #222;
    border-radius: 10px;
    padding: 10px;
    color: white;
    text-align: center;
    transition: transform 0.3s ease;
}

.movie-item:hover {
    transform: scale(1.05);
    cursor: pointer;
}