.movie-list {
    display: flex;
    flex-wrap: nowrap; 
    overflow-x: auto;
    padding: 10px;
    gap: 50px;
}

.movie-list::-webkit-scrollbar {
    display: none;
}

.movie-item {
    min-width: 300px;
    background-color: #222;
    border-radius: 10px;
    padding: 10px;
    color: white;
    text-align: center;
    transition: transform 0.3s ease;
    max-height: 550px;
}

.movie-item.selected {
    border-color: white;
    box-shadow: 3px 3px 10px rgba(255, 255, 255, 0.5); 
    transform: scale(1.02); 
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    min-height: 600px; 
}

.movie-item.selected div {
    margin: 10px 0; 
}

.movie-item div {
    font-size: 1.15em;
    font-style: italic; 
}

.movie-item .movie-title {
    font-size: 1.5em;
    font-family: Arial, Helvetica, sans-serif; 
    text-align: center;
}

.movie-item .rate{
    color: gold;
}

button {
    padding: 10px 20px; 
    font-size: 1em; 
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #555; 
}

.movie-item:hover {
    cursor: pointer;
}

.no-found-container {
    display: flex;
    justify-content: center; 
    align-items: center; 
}

.no-found{
    color: #f5f5f5;
    font-size: 1.5em;
    text-align: center;
    margin-top: 1em;
}
